<div id="<%= dom_id persona %>">
  <p>
    <strong>Rut:</strong>
    <%= persona.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= persona.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= persona.apellido %>
  </p>

</div>
